h1, h2 ,h3 ,h4 ,h5 ,h6 ,p ,li {
    font-family: 'Ropa Sans', sans-serif;
    color: white; 
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    background: #b4debe;
}

#col-side {
    border: 1px solid white;
    font-size: 1.35em;
    min-height: 100vh;
}

#col-side h1 {
    margin-top: 15px;
    font-size: 3.25em;
}

#slider-range-max {
    width: 90%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#slider-dist-max {
    width: 90%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#slider-range {
    width: 90%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}


#amount {
    border: 0;
    color: #f6931f;
    background: #b4debe !important;
    font-weight: bold;
    width: 90%;
}

#myModal {
    font-size: 1.25em;
}

#dist {
    border: 0;
    color: #f6931f;
    background: #b4debe !important;
    font-weight: bold;
    width: 90%;
}

#year {
    border: 0;
    color: #f6931f;
    background: #b4debe !important;
    font-weight: bold;
    width: 90%;
}

label {
    font-size: 0.75em;
}

.color-red {
    color: #e8175d;
}

.color-black {
    color: #474747;
}

.color-oj {
    color: #f6931f;
}

.col-md-5, .col-lg-5  {
    margin-left: auto;
    margin-right: auto;
}

.col-md-6, .col-lg-6 {
    margin-left: auto;
    margin-right: auto;
}

strong {
    color: #f6931f;
}

#map {
    width: 100%;
    height: 80vh;
}

#col-main {
    border: 1px solid white;
    border-left: 0px;
    height: 100vh;
}

.fw {
    font-weight: 700;
}

#info-box {
    background:  #474747;
    position: absolute;
    margin: 1% 1% 1% 1%;
    border: 1px solid #777;
    width: 600px;
    height: 250px;
    bottom: 0;
}

#info-box .row {
    position: relative;
    margin: 1% 1% 1% 1%;
}

#info-ind {
    height: 40px;
    width: 100%;
    overflow:auto;
}

#info-maj {
    height: 40px;
    width: 100%;
    overflow:auto;
}

#info-in {
    height: 40px;
    width: 100%;
    overflow:auto;
}